doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Signal Processing 101

    link(rel='stylesheet', type='text/css', href='build/build.css')

  style.
    .hello {
      background-image: url('images/hello-tharr.gif')
    }
    
    .string-theory {
      background-image: url('images/string-theory.jpg')
    }
    
    .monome {
      background-image: url('images/monome.jpg')
    }
    
    .maxmsp {
      background-image: url('images/maxmsp.png')
    }
    
    .knoll {
      background-image: url('images/knoll.jpg')
    }
    
    .krang {
      background-image: url('images/krang.jpg')
    }
    
    .sampling {
      background-image: url('images/sampling.jpg')
    }
    
    .mindblown {
      background-image: url('images/mind-blown.gif')
    }
    
    .chumbawumba {
      background-image: url('images/chumbawumba.png')
    }
    
    .flux {
      background-image: url('images/flux.png')
    }
    
    .freq {
      background-image: url('images/freq-response.jpg')
    }
    
    .higher {
      background-image: url('images/44v96.jpg')
    }
    
    .telephone {
      background-image: url('images/telephone.jpg')
    }
    
    .mind-blown-again {
      background-image: url('images/mindblown-at.gif')
    }
    
    .chromatic {
      background-image: url('images/chromatic.png')
    }
    
    .pythagoras-three {
      background-image: url('images/pyth3.jpg')
    }
    
    .pythagoras-four {
      background-image: url('images/pyth4.jpg')
    }
    
    .pythagoras-five {
      background-image: url('images/pyth5.jpg')
    }
    
    .phish {
      background-image: url('images/phish.jpg')
    }
    
    .fifths {
      background-image: url('images/circle-of-fifths.png')
    }
    
    .diatonic {
      background-image: url('images/diatonic.jpg')
    }

    .hammer {
      background-image: url('images/hammer-time.gif')
    }
    
    .eleven {
      background-image: url('images/eleven.gif')
    }
    .trippy {
      background-image: url('images/mJ7cXhA.gif')
    }

  body

    article

      section
        h2 Turning a room into a synthesizer
        h3 with a distributed harmonic series
        h4 With your host Myles Borins
        h4
          a(href='https://twitter.com/thealphanerd') @thealphanerd
        p  WaffleJS December 2015

      section(data-bespoke-backdrop='hello')
        h1 Hello There
        
      section
        h1 My Name is Myles
        img.headroom(src='images/me.jpg' alt='itsa me!' width='200px')
      
      section
        h3 I currently work at a small disruptive startup called IBM
        h4 contributing to node.js
        
        img.headroom(src='images/ibm.jpg' alt='Eye Bee M by Paul Rand')
        
        h5 The opinions expressed in this talk are soley my own

      section
        h3 Let's talk about the human ear
        img(src='images/ear.jpg' alt='a huan ear' width='500px')

      section
        h3 Exponential response!
        img(src='images/freq-response.jpg' alt='frequency response of the huan ear')

      section
        img(src='images/double.jpg' alt='as frequency increases exponentially, how we experience pitch increases linearly' width="80%")

      section(data-bespoke-backdrop='mind-blown-again')
        h1 As frequency grows exponentially, we experience pitch linearly.
        
      section
        h2 This was originally discovered by Pythagoras (afaik)
        img.headroom(src='images/pyth1.jpg' alt='pythagoras')
        
      section
        h2 Pythagoras discovered what we now know as the western musical cannon.
        img.headroom(src='images/pyth2.jpg' alt='moar Pythagoras')

      section(data-bespoke-backdrop='chromatic')
          h1 The Chromatic Scale

      section(data-bespoke-backdrop='pythagoras-three')
        h1 Pythagoras

      section(data-bespoke-backdrop='diatonic')
        h1 The Diatonic Scale

      section(data-bespoke-backdrop='pythagoras-four')
        h1 Pythagoras

      section(data-bespoke-backdrop='fifths')
        //- h1 The Circle of Fifths

      section(data-bespoke-backdrop='pythagoras-five')
        h1 Pythagoras

      section
        h1 The greatest musical achievement in the modern era?

      section(data-bespoke-backdrop='phish')
        h1 Phish's Set two Rotation jam 
        h3 Deer Creek Sunday August 10th 1997

      section
        h1 Musical notes as we know them
        h3 (roughly)
        h4 Ask me afterwards about how we actually use fake notes and the church was really upset about us switching

      section
        h1 Have existed longer

      section
        h1 As a means of communication
      
      section
        h1 THAN THE ENGLISH LANGUAGE

      section
        h1 Let that sink in for a second

      section
        h2 http://kni.sh/voxelMeterJS/
        iframe.headroom(src='examples/voxel-meter' class='demo-iframe')
        a(href='https://github.com/TheAlphaNerd/voxel-meter-js/') View the Project on Github

      section
        pre
          code.language-javascript.
            function Audio() {
              this.context =
                new (window.AudioContext || window.webkitAudioContext)();
              this.analyzer = this.context.createAnalyser();
              this.frequencyData = new Uint8Array(256);

              wireMic(this.context, this.analyzer);

              return this;
            }
      
      section
        pre
          code.language-javascript.
            function wireMic(audioContext, analyzer) {
              function gotStream(stream) {
                // Create an AudioNode from the stream.
                var mediaStreamSource = 
                  audioContext.createMediaStreamSource(stream);

                // Connect it to the destination to hear
                // yourself (or any other node for processing!)
                mediaStreamSource.connect(analyzer);
              }

              navigator.getUserMedia = /*shim*/
              navigator.getUserMedia({audio: true},
                gotStream, function (err) {
                console.log(err);
              });
            }

      section
        pre
          code.language-javascript.
            Audio.prototype.getFFT = function () {
              this.analyzer.getByteFrequencyData(this.frequencyData);
              return this.frequencyData;
            };

      section
        h2 http://harmonic.kni.sh/
        h3 Visit the above link on your phone or lappy
        h4 P.S. it is about to make some sound, so turn it up!
      
      section
        iframe.headroom(src='http://harmonic.kni.sh/gepetto' class='demo-iframe')
      
      section
        img.headroom(src='images/wot.gif' alt='wot was that?' height='80%')

      section
        img.headroom(src='images/harmonic_series.png' alt='a harmonic series' height='80%')
      
      section
        img.headroom(src='images/fourier_flute_violin.png' alt='harmoic series of a flute and violin' height='80%')
      
      section(data-bespoke-backdrop='trippy')
        
      section
        h1 Stop, Demo Time
        img.headroom(src='images/hammer-time.gif')
      section
        iframe(src='http://harmonic.kni.sh/gepetto' class='demo-iframe')
        
      section
        h2 Thank You
        img.headroom(src='images/best-gif-evar.gif' alt='a surfing puppy' width='20%')
        h3 Myles Borins
        h4 @thealphanerd

    script(src='build/build.js')